{% extends 'game/dashboard_base.html' %}

{% block content %}
    <h1> you're logged in dashboard as {{ char.name }}</h1>

    <ul>your character
        <li>{{ char.name }}</li>
        <li>life: {{ char.actual_life }}/{{ char.life }}</li>
        <li>{{ char.breed }}</li>
        <li>{{ char.klass }}</li>
        <li>{{ char.level }}</li>
    </ul>

    <table>
        <caption> available skills </caption>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>duration</th>
            <th>min_level</th>
        </tr>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.name  }}</td>
                <td>{{ skill.description  }}</td>
                <td>{{ skill.duration  }}</td>
                <td>{{ skill.min_level  }}</td>
            </tr>
        {% endfor %}
    </table>

    <br/>

    <table>
        <caption>items in your bagpack</caption>
        <tr>
            <th>name</th>
            <th>description</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
            </tr>
        {% endfor %}
    </table>

    <br/>

    <table>
        <caption>partners</caption>
        <tr>
            <th>name</th>
            <th>life</th>
            <th>breed</th>
            <th>class</th>
            <th>level</th>
        </tr>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.name  }}</td>
                <td>{{ partner.actual_life }}/{{ partner.life }}</td>
                <td>{{ partner.breed  }}</td>
                <td>{{ partner.klass  }}</td>
                <td>{{ partner.level  }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
