{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% if not user.master %}
    <script src="{% static 'game/js/logout.js' %}"></script>
  {% endif %}
</head>
<body>
  {% block content %}
  {% endblock %}
  <p><a href="/chat"> go chat </a></p>
  {% if user.master %}
    <a href="/game/logout"> logout </a>
  {% else %}
    <p><a onclick="remove_char()" href="/game/player"> select other char </a></p>
    <p><a onclick="remove_char()" href="/game/logout"> logout </a></p>
  {% endif %}
</body>
</html>
