{% extends 'game/dashboard_base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center"> you're logged in dashboard for masters</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>maps</h3>
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>name</th>
                            <th>link</th>
                        </tr>
                        {% for map in maps %}
                            <tr>
                                <td>{{ map.name }}</td>
                                <td><a href="{{ map.link}}" target="_blank"><button class="btn btn-outline-light">link</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="col">
                    <h3>characters</h3>
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>name</th>
                            <th>life</th>
                            <th>breed</th>
                            <th>class</th>
                            <th>level</th>
                            <th>level up</th>
                        </tr>
                        {% for char in chars %}
                            <tr>
                                <td>{{ char.name  }}</td>
                                <td>{{ char.actual_life }}/{{ char.life }}</td>
                                <td>{{ char.breed  }}</td>
                                <td>{{ char.klass  }}</td>
                                <td>{{ char.level  }}</td>
                                <td><button onclick="levelup_char({{ char.id }})" class="btn btn-outline-light">level up</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3>objects</h3>
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>name</th>
                            <th>description</th>
                        </tr>
                        {% for object in objects %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td>{{ object.description }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="col">
                    <h3>weapons</h3>
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>name</th>
                            <th>hands</th>
                            <th>damage</th>
                            <th>family</th>
                        </tr>
                        {% for weapon in weapons %}
                            <tr>
                                <td>{{ weapon.name }}</td>
                                <td>{{ weapon.hands }}</td>
                                <td>{{ weapon.damage }}</td>
                                <td>{{ weapon.family }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div id="effects">
                <h5>Apply damage:</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Char name and damage</span>
                    </div>
                    <input type="text" class="form-control" id="char_name" placeholder="Char name">
                    <input type="number" class="form-control" id="damage" placeholder="50">
                </div>
                <button onclick="applyDamage()" class="btn btn-outline-dark">Apply</button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block after_body %}
    <script>
        function slugify(text) {
          return text.toString().toLowerCase()
            .replace(/\s+/g, '-')           // Replace spaces with -
            .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
            .replace(/\-\-+/g, '-')         // Replace multiple - with single -
            .replace(/^-+/, '')             // Trim - from start of text
            .replace(/-+$/, '');            // Trim - from end of text
        };

        function levelup_char(char_id) {
            axios.get('/game/'+char_id+'/levelup')
                .then(function(response) {
                    alert(response.data);
                    location.reload();
                })
        };

        function applyDamage() {
            damage = document.getElementById('damage').value;
            char_name = document.getElementById('char_name').value;
            console.log(char_name, damage);
            char_name = slugify(char_name);
            axios.get('/game/'+char_name+'/'+damage+'/applydamage')
                .then(function(response) {
                    alert(response.data);
                    location.reload();
                })
        };
    </script>
{% endblock %}
