{% extends 'game/dashboard_base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center"> you're logged in dashboard for masters</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>characters</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>life</th>
                                <th>breed</th>
                                <th>class</th>
                                <th>level</th>
                                <th>level up</th>
                                <th>profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for char in chars %}
                                <tr>
                                    <td>{{ char.name }}</td>
                                    <td>{{ char.actual_life }}/{{ char.life }}</td>
                                    <td>{{ char.breed }}</td>
                                    <td>{{ char.klass }}</td>
                                    <td>{{ char.level }}</td>
                                    <td><button onclick="levelup_char({{ char.id }})" class="btn btn-outline-light">level up</button></td>
                                    <td><a href="/game/{{ char.slug }}/profile" target="_blank"><button class="btn btn-outline-light">open</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3>maps</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for map in maps %}
                                <tr>
                                    <td>{{ map.name }}</td>
                                    <td><a href="{{ map.link}}" target="_blank"><button class="btn btn-outline-light">link</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <h3>objects</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects %}
                                <tr>
                                    <td>{{ object.name }}</td>
                                    <td>{{ object.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <h3>weapons</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>hands</th>
                                <th>damage</th>
                                <th>family</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for weapon in weapons %}
                                <tr>
                                    <td>{{ weapon.name }}</td>
                                    <td>{{ weapon.hands }}</td>
                                    <td>{{ weapon.damage }}</td>
                                    <td>{{ weapon.family_name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="effects">
                <p><h4>Apply damage or heal:</h4></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Char name and damage/heal</span>
                    </div>
                    <input type="text" class="form-control" id="char_name" placeholder="Char name">
                    <input type="number" class="form-control" id="difference" placeholder="-N to damage; N to heal">
                </div>
                <button onclick="applyDifference()" class="btn btn-outline-light">Apply</button>

                <p><h4>Give item:</h4></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Char name and item name</span>
                    </div>
                    <input type="text" class="form-control" id="char_name01" placeholder="Char name">
                    <input type="text" class="form-control" id="item_name" placeholder="Item name">
                </div>
                <button onclick="giveItem()" class="btn btn-outline-light">Give</button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block after_body %}
    <script src="{% static 'game/js/master.js' %}"></script>
    <link href="{% static 'game/css/master.css' %}" rel="stylesheet">
{% endblock %}
