{% extends 'game/dashboard_base.html' %}

{% block content %}
    <h1> you're logged in dashboard as {{ char.name }}</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>characters</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>life</th>
                                <th>breed</th>
                                <th>class</th>
                                <th>level</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for character in characters %}
                                <tr>
                                    <td>{{ character.name  }}</td>
                                    <td>{{ character.actual_life }}/{{ character.life }}</td>
                                    <td>{{ character.breed  }}</td>
                                    <td>{{ character.klass  }}</td>
                                    <td>{{ character.level  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="col">
                <h3> available skills </h3>
                <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>description</th>
                        <th>duration</th>
                        <th>min_level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in skills %}
                        <tr>
                            <td>{{ skill.name  }}</td>
                            <td>{{ skill.description  }}</td>
                            <td>{{ skill.duration  }}</td>
                            <td>{{ skill.min_level  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>items in your bagpack</h3>
                <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="col">
                <h3>maps</h3>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for map in maps %}
                            <tr>
                                <td>{{ map.name }}</td>
                                <td><a href="{{ map.link}}" target="_blank">link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
