{% extends 'game/dashboard_base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1> you're logged in dashboard for masters</h1>
        <h2> maps </h2>
        {% for map in maps %}
          <p> {{ map.image_tag }} </p>
        {% endfor %}

        <h2> chars </h2>
        <table>
            <tr>
                <th>name</th>
                <th>breed</th>
                <th>class</th>
                <th>level</th>
                <th>level up</th>
            </tr>
            {% for char in chars %}
                <tr>
                    <td>{{ char.name  }}</td>
                    <td>{{ char.breed  }}</td>
                    <td>{{ char.klass  }}</td>
                    <td>{{ char.level  }}</td>
                    <td><button onclick="levelup_char({{ char.id }})">level up</button></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <script>
        function levelup_char(char_id) {
            axios.get("/game/"+char_id+"/levelup")
                .then(function(response){
                    alert(response.data);
                    location.reload();
                })
        }
    </script>
{% endblock %}
