{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="bg-secondary">
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Chars</h3>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th> Name </th>
            <th> Class </th>
            <th> Breed </th>
            <th> Level </th>
            <th> Select </th>
          </tr>
        </thead>
        <tbody>
        {% for char in chars %}
          <tr>
              <td> {{ char.name }} </td>
              <td> {{ char.klass }} </td>
              <td> {{ char.breed }} </td>
              <td> {{ char.level }} </td>
              <td><a onclick="selectChar('{{char.name}}')" href="" class="btn btn-outline-light">this</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<a onclick="remove_char()" href="/game/logout" class="nav justify-content-center"><button class="btn btn-outline-light">logout</button></a>

</body>
<script src="{% static 'game/js/select_char.js' %}"></script>
{% endblock %}
